<html>
  <head>
  	<title>Laboratory</title>
  	<meta charset="utf-8">
  	<meta name="decorator" content="atl.admin">
  	$webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
  	
  </head>
  <body>
		
		<div class="aui-tabs vertical-tabs" role="application">
	    <ul class="tabs-menu" role="tablist">
	        <li class="menu-item active-tab" role="presentation">
	            <a href="#tabs-example-first" id="aui-uid-0-1426670166713" role="tab" aria-selected="true"><strong>A</strong></a>
	        </li>
	        <li class="menu-item" role="presentation">
	            <a href="#tabs-example-second" id="aui-uid-1-1426670166713" role="tab" aria-selected="false"><strong>B</strong></a>
	        </li>
	        <li class="menu-item" role="presentation">
	            <a href="#tabs-example-third" id="aui-uid-2-1426670166713" role="tab" aria-selected="false"><strong>C</strong></a>
	        </li>
	    </ul>
	    <div class="tabs-pane active-pane" id="tabs-example-first" role="tabpanel" aria-hidden="false">
	        <h2>1 tab</h2>
	        <p>Some text</p>
	    </div>
	    <div class="tabs-pane" id="tabs-example-second" role="tabpanel" aria-hidden="true">
	     <h2>2 tab</h2>
			<form id="admin" class="aui">
					  <div class="field-group">
					    <label for="name">String:</label>
					    <input type="text" id="string" name="string" class="text" required="required" autofocus>
					   </div>
					   <div class="field-group">
					     <label for="time">Date:</label>
					     <input type="text" id="date" name="date" class="text" required="required">
					   </div>
					   <div class="field-group">
					     <input type="submit" value="Save" class="button">
					   </div>
					</form>	       
	    </div>
	    <div class="tabs-pane" id="tabs-example-third" role="tabpanel" aria-hidden="true">
	        <h2>3 tab</h2>
	        <p>Some text</p>
	    </div>
	</div>
	</body>
</html>